.cardImageTop{
    height: 15rem
}

.card{
    box-shadow: 3px 8px 18px 3px rgba(0,0, 0, 0.100)!important
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0, 0, 0.253)!important
}

.cardBody{
    padding:3rem 0 !important;
}

.cardText{
    font-size: .9rem;
    padding:0.4rem 1.9rem;
}